/* Spartan Bold 700 Font */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

#rainbow-title {
    text-align: center;
    font-size: 7.5rem;
    font-family: 'Spartan', sans-serif;
    padding-top: 2.5rem;
    
    -webkit-text-stroke: 4px black;
}

#rainbow-title span:nth-child(1) {
    color: rgb(232, 9, 32);
}
#rainbow-title span:nth-child(2) {
    color: rgb(242, 103, 10);
}
#rainbow-title span:nth-child(3) {
    color: rgb(243, 255, 23);
}
#rainbow-title span:nth-child(4) {
    color: rgb(29, 191, 56);
}
#rainbow-title span:nth-child(5) {
    color: rgb(35, 199, 232);
}
#rainbow-title span:nth-child(6) {
    color: rgb(40, 22, 242);
}
#rainbow-title span:nth-child(7) {
    color: rgb(199, 9, 237);
}
#rainbow-title span:nth-child(8) {
    color: white;
}