#private-room{
    position: relative;
    margin: 0 auto;
    width: 80vw;
}

#settings-container{
    width: 480px;
    height: 500px;
    position: relative;
    top: 100px;
}

#settings-container h2{
    margin: 0 auto 10px auto;
    width: fit-content;
    position: relative;
    color: white;
    font-size: 40px;
}

#lobby-container{
    width: 480px;
    height: 445px;
    background-color: white;
    margin: 0 auto;
    padding: 5px;
}

#lobby-container h3{
    text-align: center;
    margin: 0 auto 5px auto;
    font-size: 25px;

}

#rounds{
    width: 450px;
    height: 35px;
    margin: 5px auto;
    border: 1px solid #ccc;  
    border-radius: 5px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 0 2px 15px;
}

.round-entry{
    position: relative;
    margin-left: 100px;
    width: fit-content;
    padding: 0px 5px;
}

#rounds-container{
    width: fit-content;
    margin: 0 auto;
    border-top: 1px solid #ccc;   
    padding: 5px;
}